@{
    ViewBag.Title = "About SimpleCRM";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>SimpleCRM is a web application that allows for the basic functionalities of a Customer Relationship Management system. The user may create customers, bind those customers to their organization, create events, and log interactions at those events.</p>
<p>
    <h4>Customer features:</h4>
    <ul>
        <li>Assign an organization to a customer.</li>
        <li>Edit the relationship status of a customer.</li>
        <li>Assign a role to the customer.</li>
        <li>Grant points to a customer.</li>
    </ul>
</p>
<p>
    <h4>Organization features:</h4>
    <ul>
        <li>Assign a name, address, and industry to an organization.</li>
    </ul>
</p>
<p>
    <h4>Event features:</h4>
    <ul>
        <li>Assign a beginning date/time and an ending date/time for the event.</li>
        <li>Give the event a title and topic.</li>
    </ul>
</p>
<P>
    <h4>Interaction features:</h4>
    <ul>
        <li>Record interactions for each event.</li>
    </ul>
</P>