@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    7030 W Lockerbie Dr.<br />
    Indianapolis, IN 46214<br />
    <abbr title="Phone">P:</abbr>
    317.610.6051
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@simplecrm.com">crmsupport@simplecrm.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@SimpleCRM.com">marketing@simplecrm.com</a>
</address>