@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>SimpleCRM</h1>
        <p class="lead">SimpleCRM is a simple customer relationship management database that logs organizations, their customers, and interactions with those customers at events.</p>
        <p>@Html.ActionLink("About", "About", "Home")</p>
    </div>