@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>SimpleCRM</h1>
        <p class="lead">SimpleCRM is a simple customer relationship management database that logs organizations, their customers, and interactions with those customers at events.</p>
        <p>@Html.ActionLink("About", "About", "Home")</p>


        <div class="row">
            <div class="col-md-4">
                <h2>Begin ></h2>
                <p>
                    Enter the organization represented,
                </p>
            </div>
            <div class="col-md-4">
                <h2>Record ></h2>
                <p>
                    Create the customers for the organization and create events to be hosted.
                </p>
            </div>
            <div class="col-md-4">
                <h2>Award!</h2>
                <p>Award points to customers for attending events by logging interactions with those customers</p>
            </div>
        </div>
    </div>